.reveal {
    color: #d2d2d2;
}
.reveal h1.introHead {
    margin-bottom: 0;
    line-height: 0.3;
    color: #fff;
    font-size: 2em;
}
.reveal pre {
    font-size: 0.7em;
}
.reveal pre.fontBig {
    font-size: 0.9em;
}
.reveal section img {
    border: none;
    box-shadow: none;
    margin: 0;
}
.introHead i,
.introHead span {
    display: inline-block;
    vertical-align: middle;
}
.introHead span {
    margin-bottom: 0;
    line-height: 0.8;
}
.reveal h1.introHead small {
    font-size: 0.32em;
    color: #f75d3c;
    display: block;
}
.reveal h2 {
    font-size: 1.8em;
    color: #fff;
}
.reveal h2 small {
    color: #cc8677;
}
.reveal h3 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 20px;
}
.reveal p code {
    background-color: #b6b6b6;
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
    font-size: 70%;
}
.introHead i {
    background-image: url(../img/grid-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 225px;
    height: 135px;
    margin: 0 auto 30px;
}
.blockWrap {
    display: block;
}
.blockWrap .notes i {
    display: block;
    text-decoration: underline;
}
.blockWrap .notes {
    display: block;
    font-size: 0.4em;
    float: right;
}
.blockWrap {
    text-align: left;
}
.blockWrap p.steps i {
    font-size: 0.7em;
}
.blockWrap p.steps span {
    display: inline-block;
    font-size: 0.8em;
    color: #42affa;
    padding-left: 0.5em;
}
.reveal h6.commandTitle {
    font-size: 0.5em;
    font-weight: normal;
    color: #42affa;
    text-align: left;
    padding-left: 2.6em;
    margin-bottom: 10px;
}
.reveal pre.pre {
    margin: 0 auto 30px;
}
.reveal p small {
    color: #a2a2a2;
}
.gridList {
    overflow: hidden;
    margin-left: 0;
}
.gridList li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
    width: 23%;
    padding: 0 0 0.7em;
}
.tipsLst li {
    font-size: 0.7em;
}
.tipsLst p {
    padding-left: 0.7em;
}
.tipsLst img {
    display: block;
}
.reveal .smallTitle {
    font-size: 0.95em;
}
.centerTxt{
    text-align: center;
}
.reveal p.font16 {
    font-size: 0.8em;
}
.reveal p.font16 small {
    font-size: 0.75em;
}
.blue {
    color: #42affa;
}
.white{
    color: #FFF;
}
.fragment span {
    color: #00d485;
}
.reveal section .fragment img {
    background: none;
    box-shadow: none;
}
.reveal a {
    color: #cbc364;
    position: relative;
}

.reveal a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s;
    transform: scaleX(0);
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #cbc364;
}
.reveal a:hover {
    color: #cbc364;
}
.reveal a:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

/* DEMO CODE */
.output {
    display: grid;
    width: 100%;
    height: 350px;
    background-color: #fff;
    color: #000;
    position: relative;
}
.reveal .output { font-size: 70%; }
.output .header,
.output .footer {
    color: #fff;
    display: grid;
    align-items: center;
    background-color: #34495e;
}

.main {
    display: grid;
    align-items: center;
}

/* animation */
.output {
    transition: all .3s;
    opacity: 0;
    text-align: center;
}
.header,
.footer,
.main,
.navMenu {
    opacity: 0;
    transition: all .3s;
}
.header { transform: translateY(50px); }
.footer { transform: translateY(-50px); }
.navMenu { transform: translateX(50px); }
.main { transform: translateX(-50px); }
.output.visible { opacity: 1; }
.output.visible .header,
.output.visible .footer,
.output.visible .main,
.output.visible .navMenu {
    opacity: 1;
}
.output.visible .header { transform: translateY(0px); }
.output.visible .footer { transform: translateY(0px); }
.output.visible .navMenu { transform: translateX(0px); }
.output.visible .main { transform: translateX(0px); }
.rowBlock { margin: 0 -10px; }
.rowBlock > div {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: -4px;
    padding: 0 10px;
}
/* code and demo */
.code { text-align: left; }
.code strong { color: #ded192; font-size: 80%; }
.code p { margin: 0 0 10px;  }
.code p.noMargin { margin-bottom: 0; }
.code img { max-width: 100%; margin: 0; }
.reveal .code img { margin: 0; }

.listInline li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listInline small {
    color: #00d485;
}

.reveal ul.gallery {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    height: 200px;
    margin: 0;
}

.reveal ul.gallery span {
    display: block;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.reveal ul.listUnstyled { font-size: 70%; }
.listUnstyled li { margin-bottom: 0px; }

.gridDemo6 {
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(150px, auto);
}
.gridDemo6 li {
    transition: all .3s;
    opacity: 0;
    transform-origin: center;
}
.gridDemo6 li:nth-child(1) {
    grid-column: 1 / span 2;
    transform: translate(25%, 50%) scale(0);
}
.gridDemo6 li:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
    transform: translate(-75%, 0) scale(0);
}

.gridDemo6 li:nth-child(3) {
    transform: translate(25%, -50%) scale(0);
}

.gridDemo6 li:nth-child(4) {
    transform: translate(0, -50%) scale(0);
}

.visible .gridDemo6 li:nth-child(1),
.visible .gridDemo6 li:nth-child(2),
.visible .gridDemo6 li:nth-child(3),
.visible .gridDemo6 li:nth-child(4) {
    transform: translate(0, 0) scale(1);
    opacity: 1;
}

/* Glossary */
.gridGlossary {
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: minmax(150px, auto);
    list-style: none;
    margin: 0;
    position: relative;
}

.gridGlossary div {
    background-color: #f5f5f5;
    display: grid;
    align-items: center;
    text-align: center;
}

.rowLine {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

.rowLine strong,
.colLine strong {
    position: absolute;
    margin-top: -38px;
    color: #fff;
}

.rowLine strong {
    right: -160px;
    top: 0;
}

.rowLine:before {
    content: "";
    height: 2px;
    width: 110%;
    background-color: #f00;
    position: absolute;
    left: -5%;
    bottom: 0;
}

.rowLine1 { top: 0; }
.rowLine2 { top: 150px; }
.rowLine3 { top: 300px; }
.gridGutter .rowLine3 {
    top: 180px;
}
.gridGutter .rowLine3 strong {
    margin-top: 2px;
}
.gridGutter .rowLine4 {
    top: 100%;
}
.colLine {
    position: absolute;
    top: -15%;
    width: 2px;
    height: 130%;
    background-color: #f00;
}

.colLine strong {
    min-width: 200px;
    left: -100px;
    bottom: 0;
    margin-bottom: -50px;
}

.colLine1 {
    left: 0;
}

.colLine2 { left: 300px; }
.colLine3 { left: 330px; }
.colLine4 { left: 630px; }
.colLine5 { left: 660px; }
.colLine6 { left: 960px; }

.gridGutter {
    grid-gap: 30px;
    background-color: #6c7354;
}
.gridGutter .rowGap,
.gridGutter .columnGap {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    position: absolute;

}
.gridGutter .columnGap {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 33.3334%;
}
.gridGutter .rowGap {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 150px;
}

.columnGap span {
    transform: rotate(90deg);
    display: block;
    margin: 140px 0 0 -57px;
}

/*.reveal .blackWhite img {
    filter: grayscale(100%);
}*/

.gridTempCol {
    display: grid;
    grid-template-columns: 250px 1fr;
    position: relative;
}

.gridTempCol .navMenu,
.gridTempCol .main {
    display: grid;
    align-items: center;
}

.gridTempCol .main {
    background-color: #dbdbdb;
    color: #000;
}

.row {
    position: absolute;
    left: -5%;
    width: 110%;
    height: 2px;
    background-color: #f85438;
    transform: scaleX(0);
    transition: all .6s .3s;
}
.row1 { top: 0; }
.row2 { top: 80px; }
.row3 { bottom: 80px; }
.row4 { top: 100%; }
.fragment .row {
    transform: scaleX(1);
}
.col {
    position: absolute;
    top: -15%;
    width: 2px;
    height: 130%;
    background-color: #f85438;
    transform: scaleY(0);
    transition: all .6s .3s;
}
.col1 { left: 0; }
.col2 { left: 250px; }
.col3 { left: 100%; }
.fragment .col {
    transform: scaleY(1);
}

.gridTempRow {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    position: relative;
}

.gridTempAreas {
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}

.gridTempAreas .header {
    grid-area: header;
    background-color: #6f6f6f;
}
.gridTempAreas .footer {
    grid-area: footer;
    background-color: #6f6f6f;
}
.gridTempAreas .nav {
    grid-area: nav;
    display: grid;
    align-items: center;
    background-color: #ddd;
}
.gridTempAreas .main {
    grid-area: main;
}

.gridTempAreas .row2 {
    top: 33.3334%;
}

.gridTempAreas .row3 {
    bottom: 33.3334%;
}

.gridTempAreas .col2 {
    left: 47.5%;
}


.gridTemp {
    grid-template: "header header" 60px
                         "nav main" 1fr
                         "footer footer" 60px / 250px 1fr;
}

.gridTemp .header {
    grid-area: header;
    background-color: #6f6f6f;
}
.gridTemp .footer {
    grid-area: footer;
    background-color: #6f6f6f;
}
.gridTemp .nav {
    grid-area: nav;
    display: grid;
    align-items: center;
    background-color: #ddd;
}
.gridTemp .main {
    grid-area: main;
}

.gridTemp .row2 {
    top: 60px;
}

.gridTemp .row3 {
    bottom: 60px;
}

.gridTemp .col2 {
    left: 250px;
}

.gridGap {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-gap: 30px;
    background-image: url('../img/bg-pattern.png');
    background-size: contain;
}

.gridGap .header,
.gridGap .footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #5d5e5e;
}

.gridGap .nav {
    background-color: #f5f5f5;
    display: grid;
    align-items: center;
}

.gridGap .main {
    background-color: #fff;
}

.gridGap .row5 {
    top: 108px;
}

.gridGap .row6 {
    bottom: 110px;
}

.gridGap .col4 {
    left: 280px;
}

.fragment .rowGap,
.fragment .colGap {
    position: absolute;
    text-align: center;
    color: #000;
}

.rowGap {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.rowGap1 {
    top: 78px;
}

.rowGap2 {
    bottom: 78px;
}

.colGap {
    left: 225px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.gridAutoFlow {
    grid-auto-flow: column;
    grid-gap: 5px;
    opacity: 1;
    overflow: hidden;
}

.gridAutoFlow div {
    //background-color: #e1e1e1;
    transition: all .3s;
}

.gridAutoFlow span {
    display: inline-block;
    background: #6fc1d2;
    width: 100%;
    height: 100%;
}

.gridAutoFlow div:nth-child(2) span {
    background: #7dc692;
}

.gridAutoFlow div:nth-child(3) span {
    background: #d98e64;
}

.gridAutoFlow div:nth-child(3) {
    grid-row: 2;
}

.gridAutoFlow div:nth-child(even) span {
    background: #e65d5d;
}

.gridAutoFlow div:nth-child(5) span {
    background: #dd6bae;
}

.gridAutoFlow div:nth-child(6) span {
    background: #508b61;
}

.autoFlowRow {
    grid-auto-flow: row;
}
.autoFlowRow div:nth-child(3),
.autoFlowRowDense div:nth-child(3) {
    grid-column: 2;
    grid-row: initial;
}
.autoFlowRow span,
.autoFlowRowDense span {
    min-height: 70px;
}
.autoFlowDense {
    grid-auto-flow: dense;
}

.autoFlowColDense {
    //grid-auto-flow: column dense;
}

.autoFlowColDense div:nth-child(4) {
    transform: translateX(-240px);
}

.autoFlowColDense div:nth-child(5),
.autoFlowColDense div:nth-child(7) {
    transform: translateY(-178px);
}

.autoFlowColDense div:nth-child(6) {
    transform: translate(-240px, 178px);
}

.autoFlowColDense.active {
    grid-auto-flow: column dense;
}

.autoFlowColDense.active div {
    transform: none;
    transition: none;
}

.autoFlowColDense.inActive div {
    transform: none;
//    transition: all .3s;
}

.autoFlowRowDense {
    grid-auto-flow: row;
    overflow: hidden;
}

.autoFlowRowDense div:nth-child(4) {
    transform: translateY(-88.5px);
}

.autoFlowRowDense div:nth-child(5),
.autoFlowRowDense div:nth-child(7) {
    transform: translateX(-482px);
}

.autoFlowRowDense div:nth-child(6) {
    transform: translate(482px,-88.5px);
}

.selectGroup p small {
    vertical-align: middle;
}

.masonry {
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(auto-fill, minmax(20%,auto));
}

.reveal section .fragment img {
    max-width: 100%;
}
