.reveal {
    color: #9d9c9c;
    font-size: 30px;
}
.reveal h1.introHead {
    margin-bottom: 0;
    line-height: 0.3;
    color: #fff;
    font-size: 2em;
}
.reveal pre {
    font-size: 0.7em;
}
.reveal pre.fontBig {
    font-size: 0.9em;
}
.reveal section img {
    border: none;
}
.introHead i,
.introHead span {
    display: inline-block;
    vertical-align: middle;
}
.introHead span {
    margin-bottom: 0;
    line-height: 0.8;
}
.reveal h1.introHead small {
    font-size: 0.32em;
    color: #f75d3c;
    display: block;
}
.reveal h2 {
    font-size: 1.8em;
    color: #fff;
}
.reveal h2 small {
    color: #cc8677;
}
.reveal h3 {
    color: #fff;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 20px;
}
.reveal p code {
    background-color: #b6b6b6;
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
    font-size: 70%;
}
.introHead i {
    background-image: url(../img/grid-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 225px;
    height: 135px;
    margin: 0 auto 30px;
}
.blockWrap {
    display: block;
}
.blockWrap .notes i {
    display: block;
    text-decoration: underline;
}
.blockWrap .notes {
    display: block;
    font-size: 0.4em;
    float: right;
}
.blockWrap {
    text-align: left;
}
.blockWrap p.steps i {
    font-size: 0.7em;
}
.blockWrap p.steps span {
    display: inline-block;
    font-size: 0.8em;
    color: #42affa;
    padding-left: 0.5em;
}
.reveal h6.commandTitle {
    font-size: 0.5em;
    font-weight: normal;
    color: #42affa;
    text-align: left;
    padding-left: 2.6em;
    margin-bottom: 10px;
}
.reveal pre.pre {
    margin: 0 auto 30px;
}
.reveal p small {
    color: #a2a2a2;
}
.gridList {
    overflow: hidden;
}
.gridList li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
    width: 23%;
    padding: 0 0 0.7em;
}
.tipsLst li {
    font-size: 0.7em;
}
.tipsLst p {
    padding-left: 0.7em;
}
.tipsLst img {
    display: block;
}
.reveal .smallTitle {
    font-size: 0.95em;
}
.centerTxt{
    text-align: center;
}
.reveal p.font16 {
    font-size: 0.8em;
}
.reveal p.font16 small {
    font-size: 0.75em;
}
.blue {
    color: #42affa;
}
.white{
    color: #FFF;
}
.fragment span {
    color: #00d485;
}
.reveal section .fragment img {
    background: none;
    box-shadow: none;
}
.reveal a {
    color: #cbc364;
    position: relative;
}

.reveal a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s;
    transform: scaleX(0);
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #cbc364;
}
.reveal a:hover {
    color: #cbc364;
}
.reveal a:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

/* DEMO CODE */
.output {
    display: grid;
    grid-gap: 8px;
    width: 100%;
    height: 250px;
    background-color: #fff;
    color: #fff;
}
.reveal .output { font-size: 70%; }
.output .header,
.output .footer {
    line-height: 60px;
}
.header { background-color: #db515d; }
.footer { background-color: #34495e; }
.navMenu { background-color: #452c50; }
.main { background-color: #1a7463; }
.aside { background-color: #452c50; }
.gridDemo1 {
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 250px 1fr;
}
.gridDemo1 .header,
.gridDemo1 .footer {
    grid-column: 1 / span 2;
}
.gridDemo2 .header,
.gridDemo1 .footer {
    grid-column: 1 / span 2;
}

.gridDemo2 {
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header" "nav main"
                         "footer footer";
}
.gridDemo2 .header { grid-area: header; }
.gridDemo2 .navMenu { grid-area: nav; }
.gridDemo2 .main { grid-area: main; }
.gridDemo2 .footer { grid-area: footer; }

.gridDemo3 {
    grid-template: "header header header" 50px
                   "nav main aside" 1fr
                   "footer footer footer" 50px /
                   100px 1fr 100px;
}
.gridDemo3 .header { grid-area: header; }
.gridDemo3 .navMenu { grid-area: nav; }
.gridDemo3 .main { grid-area: main; }
.gridDemo3 .aside { grid-area: aside; }
.gridDemo3 .footer { grid-area: footer; }

/* animation */
.output {
    transition: all .3s;
    opacity: 0;
    text-align: center;
}
.header,
.footer,
.main,
.navMenu {
    opacity: 0;
    transition: all .3s;
}
.header { transform: translateY(50px); }
.footer { transform: translateY(-50px); }
.navMenu { transform: translateX(50px); }
.main { transform: translateX(-50px); }
.output.visible { opacity: 1; }
.output.visible .header,
.output.visible .footer,
.output.visible .main,
.output.visible .navMenu {
    opacity: 1;
}
.output.visible .header { transform: translateY(0px); }
.output.visible .footer { transform: translateY(0px); }
.output.visible .navMenu { transform: translateX(0px); }
.output.visible .main { transform: translateX(0px); }
.rowBlock { margin: 0 -10px; }
.rowBlock > div {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: -4px;
    padding: 0 10px;
}

/* code and demo */
//.rowBlock > div:first-of-type { width: 60%; }
.code { text-align: left; }
.code strong { color: #ded192; font-size: 80%; }
.code p { margin: 0 0 10px;  }
.code p.noMargin { margin-bottom: 0; }
.code img { max-width: 100%; margin: 0; }
.reveal .code img { margin: 0; }

.listInline li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    margin-left: -4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reveal ul.gallery {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    height: 200px;
    margin: 0;
}

.reveal ul.gallery span {
    display: block;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.gridDemo4 {
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(120px, auto);
}
